extends layout

block content
  .page-header

    h3 Add a Book
    form#bookformA(action='/books', method='post')
      div
        label(for='bookName') Book Name: 
        input#bookName(type='text', name='name')
        input(type='hidden', name='_csrf', value=_csrf)

      input(type='submit', value='Submit')

    br
    br
    h3 All Books

  ul
    for book in books
      li
        div
          a(href='/books/' + book.id) 
            span= book.name
          p= book.name
          p= book.id
