extends layout

block content
  div.dHeader
      h1 Enthusiasm sound graph
      p.lead Listen along with others and match your interest through the song
      hr
  .row.dBody
    .col-sm-12
      h2 Fun Party Game to understand how eachothers brains work.
      p Have conversations about the ups/downs of each players line in the graph.
      p Why were you excited about the intro when Sorbusko, your neighbor was more into the outro? Did they like the classical flute at the end?
      p (After a round of enthusto....)
      p Who knew! Above all else, Sorbusko was digging the tremolo'd voices behind flutes!
      p
        br
        br
        div
         a.btn.btn-primary(href='/songrooms')
             span All rooms -->
        br
        br
        div Latest Room is Listening to -->

         br
         a.btn.btn-primary(href='/songrooms/' + songRoom.id)
             span= songRoom.name
    
    
      