extends layout

block content
  h1 Doan ScreenWriter App 
  p.lead Get your ideas down... get <i>all</i> your ideas down.
  hr
  .row
    .col-sm-12
      h2 Collaborative
      p Have multiple writers work on the same document
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-12
      h2 Integrate sound recordings / voice clips
      p Because sometimes typing is too slow... Get your already present ideas down before they are bumped out of the way by other incoming ideas.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-12
      h2 Story branching 
      p fork off a script to show how it can be improved
      p
        a.btn.btn-default(href='#', role='button') View details »
    
      