extends layout

block content
  h1 Enthusiasm sound graph
  p.lead Listen along with others and match your interest through the song
  hr
  .row
    .col-sm-12
      h2 Fun Party Game to understand how eachothers brains work.
      p Have conversations about the ups/downs of each players line in the graph.
      p Why were you excited about the intro when Sorbusko, your neighbor was more into the outro? Did they like the classical flute at the end?
      p I never knew Sorbusko liked the tremolo over the voices behind flutes!
      p I'm so glad we listened to this track together and enthusto'd.
      p I now know what to look for at the record store if I'm shopping for their birthday present.
      p
        a.btn.btn-default(href='#', role='button') View details »
    
    
      