extends layout

block content
  .page-header.dHeader


    h3 Add a Song Room
    form#songroomformA(action='/songrooms', method='post')
      div.dFocus
        br
        label(for='songRoomName') Song Room URL (soundcloud):
        br
        label(for='songRoomName') Ex: https://soundcloud.com/myartist/thesong
        br
        input#songRoomName(type='text', name='name')
        input(type='hidden', name='_csrf', value=_csrf)
        br
        input(type='submit', value='Submit')

    br
    br
    h3 Available Song Rooms:
      ul#songRoomList
        for songRoom in songRooms
          li.songRoomListItem
            div.songRoomListItemHeader
              i.fa.fa-music.fa-1x 
            div
              a(href='/songrooms/' + songRoom.id)
                span= songRoom.id
              p= songRoom.name
