@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";
//@import "themes/gsdk/gsdk";
// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}


// Custom

//vue
// [ foo ] selector matches foo attribute on a tag
[v-cloak] > * { display:none; }
[v-cloak]::before {
  content: "Loading...";
  //display: block;
  //width: 16px;
  //height: 16px;
  //background-image: url('data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==');
}


$color-one: #fffffc;
$color-two: wheat;
$color-three: #eaeaea;

body{
  background: $color-one;
  background-image: url("/leonardo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
//songrooms form input
#songRoomName{
  background: white;
  width:90%;
  opacity: 1;
}



.dHeader {
   background: $color-one;
   //padding-top: 1px;
   padding-left: 10px;
  opacity: 0.8;
}

.dBody {
  background: $color-one;
  opacity: 0.8;
}


.dFocus {
  background: $color-two;
  opacity: 1;
}


#detailContainer {
  display: grid;
  //grid-template-columns: 1fr 1fr;
  grid-template-columns: auto 350px;
  grid-column-gap: 20px;
  grid-template-rows: 2;
  grid-row-gap: 20px;
  grid-template-areas:
          "header header"
          "user-info room-info";

  /*min-height:400px*/
}

#detail-header {
  grid-area: header;
  //background: $color-three;
}
#user-info{
  background: $color-three;
  grid-area:user-info;
}

#room-info {
    padding-left: 10px;
    //opacity: 0.9;
    background: $color-three;
    //background: $color-two;
	grid-area:room-info;
    text-align: left;

}

#userList{
  list-style: none;
}

.master {
  background: lightgreen;
}

.listener {
  background: #ffc866;
}


 @media screen and (max-width: 530px) {
    #detailContainer {
      display: grid;
      grid-template-columns: auto;
      grid-column-gap: 20px;
      grid-template-rows: 3;
      grid-row-gap: 20px;
      grid-template-areas:
              "header"
              "user-info"
              "room-info";
    }
 }
